<!DOCTYPE html>
<html lang="ja">
<head>
    <title>

    </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='css/static.css')}}">
</head>
<body class="home_page">
    <div class="item">
        <img src="../static/images/hooray_logo.png" height="400"><br>
        <!-- コンテンツ書く-->
        <button  onclick="location.href='/main'" class="main_button">試合観戦</button>
        <!-- リザルト書く -->
        <button  onclick="location.href='/point'" class="main_button">得点表示</button>
    </div>
</body>
</html>